body {
    font-size: 16px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 0.5em;

    text-align: center;
    font-size: 1.5em;
    background-color: #00d8f0;
}

.section-header {
    padding: 0.1em 2em;
}

section {
    padding: 1em;
}

section:nth-child(odd) {
    background-color: #00d8f0;
}

section:nth-child(even) {
    background-color: #0bd99e;
}

.my-button {
    padding: 0.5em;

    width: fit-content;

    border-style: solid;
    border-radius: 2px;
}

.disabled-button {
    border-color: grey;
    color: grey;
}

.enabled-button {
    border-color: #0275db;
    color: #0275db;
}

.array-input {
    margin: 2em;
}

.array-element {
    margin: 1em 0.1em;
    padding: 0.5em;

    background-color: red;
    border: 1px solid black;
    border-radius: 3px;
}

.menu-container {
    display: flex;
    flex-flow: row wrap;
}

.pig-menu {
    margin: 0.5rem;
    padding: 1rem;

    border: 2px solid #0275db;
    border-radius: 5px;
}

.pig-creator {
    font-size: 4em;
    color: grey;
    transition: color 0.5s ease-in;
}

.pig-creator:hover {
    color: #0275db;
}

.pig-shelf {
    display: flex;
    flex-flow: row wrap;
}
